
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="">

    <title>Your favorites
    </title>


    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <link href="./css/bootstrap-theme.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./css/cover.css">
    <!-- Bootstrap core CSS -->

  </head>

  <body>

    <div class="site-wrapper dark-background">

      <div class="site-wrapper-inner">

        <div class="cover-container">

            
              <h1>
              What are YOUR favorite Matt Damon movies?
              </h1>
              
              <form action="/favorites" method="post" class="form-new-film">
                <input type="text" id="title" name="title" class="input-movie-title" placeholder="Movie title...">
                <input type="submit" class="btn btn-success">
              </form>

              <div class="progress">
                <span style="color:#333">Of all the Matt Damon Movies, you've found <%= @favorites.count %> of <%= Favorite::ALL_MOVIES.count %>.</span>
                 <div class="progress-bar progress-styling dark-text" role="progressbar" aria-valuenow=" <%= @favorites.count %>" aria-valuemin="0" aria-valuemax="<%= Favorite::ALL_MOVIES.count %>" style="width: <%= @favorites.count * 1.52 %>%;"></div>
              </div>

              <div class="div-spacer-vertical"></div>
              <ul class="list-group list-group-scroll-y">
                <% if @favorites.count > 0 %>
                  <% @favorites.each do |favorite| %>
                  <li class="list-group-item dark-text"><a href="/favorites/<%= favorite.id %>"><%= favorite.title %></a></li>
                  <% end %>
                <% else %>
                  <li class="list-group-item dark-text">
                    You haven't added any favorites yet...
                  </li>
                <% end %>
              </ul>
         

          <div class="mastfoot">
            <div class="inner">
              <p>&copy; Matt Damon Favs, David Hunt 2014<br>Try "green zone" or "ben affleck" for fun.</p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/docs.min.js"></script>
  </body>
</html>
